* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
 
}

.header-top {
    background: darkblue;
    height: 73px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 55px;
    position: relative; 
}

.header-top::after {
    background: blue;
    width: 40%;
    height: 100%;
}

.hours-container {
    width: 270px;
    height: 100%;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phone-container {
    width: 150px;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.email-container {
    width: 250px;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkblue;
}

.search {
    position: relative; 
    left: 500px;
    height: 73px;
    width: automatic;
    background: darkblue;
}

.header-middle {
    height: 144px;
    display: flex;

}

.header-middle-left {
    width: 50%;
}

.header-middle-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.award-txt {
    display: flex;
    flex-direction: column;
}

.award-txt-title {
    font-weight: 550;
    font-size: 21px;
    margin-bottom: 5px;
}

.award-txt-body {
    font-size: 17px;
}

.header-bottom {
    height: 65px;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 40px;

}

.award {
    display: flex;
    width: 40%;
}

.nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;
    font-size: 18px;
}

.appointment {
    height: 100%;
    width: 220px;
    position: relative;
    left: 550px;
    background: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
}

.banner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content-line1 {
    font-size: 24px;
    font-weight: bold;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
}

.banner-content-line2 {
    font-size: 90px;
    padding-bottom: 15px;
    font-weight: bold;
}

.banner-content-line3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    padding: 0 100px 20px 100px;
}

.banner-buttons button {
    color: white;
    width: 170px;
    height: 70px;
    border-radius: 7px;
    margin-left: 14px;
    background: blue; 
    border: 1px solid white;
}

.section-1 {
    height: 100vh;
    width: 100%;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-left {
    width: 50%;
}

.section-1-right {
    width: 50%;
    padding: 0px 60px 0px 60px;
}

.blue-title {
    color: rgb(42, 112, 243);
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 10px;
}

.section-title {
    font-size: 44px;
    color: rgb(8, 8, 97);
    font-weight: bold;
    padding-bottom: 29px;
}

.section-1-right-p {
    font-size: 17px;
}

.section-right-snippet {
    padding: 38px 0px 38px 0px;
    
}

.snippet-txt {
    font-size: 19px;
    font-weight: bold;
}

.section-1-right button {
    color: white;
    width: 165px;
    height: 67px;
    border-radius: 7px;
    margin-top: 32px;
    background: blue; 
    border: 1px solid white;
}

.section-2 {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-snippet {
    padding: 30px;
    border-right: 1px solid lightgrey;
}

.section-3 {
    padding: 0px 60px 0px 60px;
    background: rgb(8, 8, 97);
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section-3-title {
    display: flex;
    margin-bottom: 33px;

}

.white {
    color: white;
}

.section-3-title button {
    color: white;
    width: 165px;
    height: 67px;
    background: blue; 
    border: none;  

}

.section-3-title-right {
    display: flex;
    width: 50%;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
}

.section-3-title-left {
    width: 50%;
    
}

.section-3-snippet-wrapper {
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.section-3-snippet {
    width: 400px;
    background: white;
    height: 400px;
    padding: 30px;
    text-align: center;

}

.sec-3-wrapper {
    height: 80%;
    width: 100%;    
}

.section-3-snippet img {
    height: 150px;
    width: auto;
}

.section-4 {
    height: 130vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-4-wrapper {
    height: 90%;
    width: 100%;

}

.pricing-tables-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 95vh;
    margin: auto;
    padding: 0 60px 0 60px;
}

.pricing-table-header {
    margin-top: 33px;
    background: rgb(8, 8, 97);
    padding: 15px 65px 15px 65px;
    color: white;
    font-size: 22px;

}

.dollar-sign {
    color: rgb(8, 8, 97);
    font-size: 19px;
    
}

.small-price {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
    line-height: 1;
    color: rgb(8, 8, 97); 
    gap: 1px;
    font-weight: bold;
}

.price-number {
    font-size: 55px;
    display: inline-block;    
}

.pricing-field-wrapper {
    margin: auto;
    
}

.pricing-fields {
    display: flex;
    padding: 20px 0px;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid grey;
    color: rgb(8, 8, 97);

}

.pricing-fields img {
    margin-right: 20px;
}

.pricing-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin: auto;
    width: 30%;
}

.pricing-table button {
    color: white;
    width: 165px;
    height: 55px;
    border-radius: 7px;
    background: blue; 
    border: none;
}

.section-5 {
    height: 77vh;
    width: 100%;
    background: rgb(44, 37, 37);
    margin-bottom: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-5-left {
    width: 50%;
}

.section-5-right {
    width: 50%;
}

.table {
    width: 90%;
    height: 600px;
    position: relative;
    top: 130px;
    background: rgb(8, 8, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}

.form-wrapper {
    width: 74%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}

.input-row {
    display: flex;
    flex-direction: column;
}

.table legend {
    font-size: 32px;
    font-weight: bold;
}

.input-row input {
    width: 100%;
    height: 50px;

}

.input-row {
    width: 100%;
    
}

.table button {
    color: white;
    width: 100%;
    height: 55px;
    border-radius: 7px;
    background: blue; 
    border: none;
}

.input-row label {
    margin-bottom: 10px;
}

.end-strip {
    height: 132px;
    width: 100%;
    background: rgb(8, 8, 97);
    display: flex;
    padding: 0px 60px 0px 60px;
}

.end-strip-left {
    width: 50%;
    display: flex;
    align-items: center;

}

.end-strip-right {
    width: 50%; 
    display: flex;
    align-items: center; 
    justify-content: flex-end;  
    gap: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: content;
    padding: 0px 60px 0px 60px;
    height: 65vh;
    width: 100%;
    color: rgb(8, 8, 97);
    font-size: 17px;
    line-height: 2.2;
}

.footer-content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 70%;
    width: 100%;
    
}

.footer-row {
    width: 320px;
}

.footer h4 {
    font-size: 22px;
    line-height: 1;
    
}

.row-1-wrap{
    display: flex;
}

.m-f {
    font-size: 19px;
    font-weight: bold;
}

.email-submit input {
    border: none;
    height: 40px;
    width: 240px;
    background: lightgrey;
    margin-top: 10px;
}

.email-submit button {
    height: 40px;
    width: 40px;
    background: blue;
    margin-left: 0px;
    border: none;
    margin-top: 10px;
}

.footer-btm {
    height: 15vh;
    border-top: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0px 60px;
}

.footer-2-left {
    width: 50%;
}

.footer-2-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.footer-nav {
    display: flex;
    width: 320px;
    justify-content: space-between;
    font-size: 17px;
}

.blue {
    color: blue;
}